body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


h1 {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    justify-content: space-between;
    gap: 40px;
}

.griglia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-right: 2px solid #ddd;
}

.griglia-container-avversario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

canvas {
    border: 1px solid #000;
    margin-top: 10px;
}

#turno-info {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .griglia-container,
    .griglia-container-avversario {
        flex: none;
        width: 100%;
        padding: 10px;
    }

    canvas {
        width: 80%;
        height: auto;
    }
}
