

#registerBody > h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.input-container input[type="email"],
.input-container input[type="password"] {
    width: calc(100% - 12px); /* Considera il padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Importante per non sballare la larghezza con il padding */
    font-size: 16px;
}

.role-selection {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 5px;
}

.role-selection input[type="radio"] {
    margin-right: 5px;
}

#registerButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block;
    margin-top: 20px;
}

#registerButton:hover {
    background-color: #0056b3;
}

#registerBody > p {
    margin-top: 15px;
    text-align: center;
    color: #777;
}

#AccediA {
    color: #007bff;
    text-decoration: none;
}

#AccediA:hover {
    text-decoration: underline;
}